MSCacheWatchService/Web References/mscacheWeb/MemoryCacheService0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetAppCenterService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adAccount" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppCenterServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAppCenterServiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFavs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adAccount" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFavsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFavsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNews">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adAccount" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNewsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveFav">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adAccount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="removeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveFavResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveFavResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllUserCacheInit">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AllUserCacheInitResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCache">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adAccount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cacheName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCacheResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="testGetCache">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cacheName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="testGetCacheResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="testGetCacheResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="testSetCache">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keyName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="valueStr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="testSetCacheResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="testFileAddCache">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cacheKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cacheValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="testFileAddCacheResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="testTimeAddCache">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cacheKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cacheValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="testTimeAddCacheResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>